.bottom {
    height: 100%;
}

.content {
    padding: 10px;
}

#abt-title, #join-title {
    padding: 0 0 10px 0;
}

main {
    margin-top: 10px;
}

iframe {
    margin: 10px auto 0;
    width: 1000px;
    height: 450px;
}

#join-club  {
    margin-right: 8px;
}

.join-button {
    margin-top: 16px;
    background-color: var(--background);
    width: 200px;
    border-radius: 0;
    border: 1px solid var(--text);
    padding: 2px;
}

.join-button:hover {
    background-color: var(--text);
    color: var(--background);
}

.join-button:active {
    border: 1px solid green;
    color: green;
    background-color: var(--background);
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    iframe {
        width: 100%;
    } 
}