/* Universal */
:root {
    --text: #FFFFFF;
    --background: #0b0b0b;
    --background2: #272727;
    --background3: #424242;
    --primary: #D54E53;
    --secondary: #FDBF55;
    --accent: #FF5400;
    --bottom-offset: 515px;            /* Controls height of bottom container */
    --logo-offset: 100px;              /* Controls how far left the logo is from rest of the navbar */
    --logo-size: 32px;                 /* Controls how big the logo is (width & height) */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: var(--text);
}

/* Elements */

html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: var(--background)
}

span {
    font-weight: 700;
    text-align: center;
    max-width: 90%;
}

/* Classes */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.error {
    font-size: 100px; 
}


.home-button {
    margin-top: 16px;
    background-color: var(--background);
    width: 200px;
    border-radius: 0;
    border: 1px solid var(--text);
    padding: 2px;
}

.home-button:hover {
    background-color: var(--text);
    color: var(--background);
}

.home-button:active {
    border: 1px solid green;
    color: green;
    background-color: var(--background);
}

.typewriter {
    color: #0000;
    background:
        linear-gradient(var(--text) 0 0) 0 50%/150% 95%,
        linear-gradient(var(--text) 0 0) 0 0 /100% 100%;
        -webkit-background-clip: padding-box, text;
        background-clip: padding-box, text;
        background-repeat: no-repeat;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        animation:
            typing 1s forwards,
            background-anim 1s .8s forwards;
}

/* Anims */

@keyframes typing {
    from {
        background-size: 0 95%, 0 100%
    }
}

@keyframes background-anim {
    100% {
        background-position: -200% 50%, 0 0
    }
}

/* Mobile & Screen Options */
@media (max-width: 500px) {
    .error {
        font-size: 150px;
    }

    .home-button {
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
}