/*
This CSS file is for the consistent, universal theming
of each page of the Saddleback Cybersecurity Club.
*/

/* || General Style */

:root {
    --text: #FFFFFF;
    --background: #0b0b0b;
    --background2: #272727;
    --background3: #424242;
    --primary: #D54E53;
    --secondary: #FDBF55;
    --logo-size: 32px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: var(--text);
}

li, p, span, code {
    font-size: 15px;
}

html, body {
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.box {
    border: 2px solid var(--background3);
    background-color: var(--background2);
}

/* Artificial box padding is necessary, as the boxes have no 
   inherent padding due to formatting concerns with striped */
.box > h1 {
    padding-left: 10px;
    padding-top: 10px;
}

.striped:nth-child(even) {
    background-color: var(--background3)
}

/* || Header and Footer */

header {
    margin: 0 auto 10px;
    width: 100%;
    max-width: 1000px;
    height: 75px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    max-width: 1000px;
    height: 40px;
    margin: 10px auto 0px;
    text-align: end;
    padding: 10px;
    line-height: 18px;
}

header.box {
    border-top: none;
}

footer.box {
    border-bottom: none;
}

#footer-text {
    opacity: 75%;
}

/* || Navigation Bar */

#nav-bar ul {
    display: flex;
    align-items: center;
}

#nav-bar li {
    display: inline;
    padding: 0 15px;
    text-transform: lowercase;
    font-weight: bold;
    color: var(--text);
}

.nav-link:before {
    content: "./";
}

#logo {
    width: var(--logo-size);
    height: var(--logo-size);
}

/* || Body */

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    flex: 1;
}

section h1 {
    color: var(--primary);
    padding-bottom: 10px;
}

section h1:before {
    content: "# ";
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    color: var(--primary);
}

li {
    list-style: none;
}

/* || Screen Scaling Options */

@media (max-width: 1000px) {
    .container {
        max-width: 90%;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    header {
        padding: 10px 0;
        min-height: 130px;
        max-width: 90%;
    }

    footer {
        max-width: 90%;
    }

    #footer-text p {
        text-align: center;
        font-size: 10px;
    }
    
    #nav-bar {
        width: 100%;
    }

    #nav-bar ul {
        flex-direction: column;
        width: 100%;
    }

    #nav-bar li {
        display: block;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    #nav-bar li:first-child {
        margin: 6px 0;
    } 

    #nav-bar li:not(:first-child) {
        margin-bottom: 4px;
    }

    #nav-bar li:nth-child(even) {
        background-color: var(--background3);
    }
}