/* Universal */
:root {
    --text: #FFFFFF;
    --background: #0b0b0b;
    --background2: #272727;
    --background3: #424242;
    --primary: #D54E53;
    --secondary: #FDBF55;
    --accent: #FF5400;
    --bottom-offset: 515px;            /* Controls height of bottom container */
    --logo-offset: 100px;              /* Controls how far left the logo is from rest of the navbar */
    --logo-size: 32px;                 /* Controls how big the logo is (width & height) */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: var(--text);
}

/* Elements */

li, p, span, code {
    font-size: 15px;
}

html, body {
    height: 100%;
}

header {
    margin: 0 auto 10px;
    width: 100%;
    max-width: 1000px;
    height: 75px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    color: var(--primary);
}

li {
    list-style: none;
}

footer {
    width: 100%;
    max-width: 1000px;
    height: 40px;
    margin: 10px auto 0px;
    text-align: end;
    padding: 10px;
    line-height: 18px;
}

section h1 {
    color: var(--primary);
    padding-bottom: 10px;
}

section h1:before {
    content: "# ";
}

header.box {
    border-top: none;
}

footer.box {
    border-bottom: none;
}

.bottom section.box {
    width: 100%;
}

.bottom.container > .box {
    padding: 0;
}

.box > h1 {
    padding-left: 10px;
    padding-top: 10px;
}

/* Classes */

.small-list {
    padding: 2px 10px;
}

.small-list:not(:last-child) {
    margin-bottom: 5px;
}

.blog-description {
    padding: 3px 0;
    opacity: 75%;
    font-size: 12px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.bottom {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.bottom.container {
    margin-bottom: 10px;
}

.date {
    opacity: 75%;
    font-size: 10px;
    line-height: 12px;
    margin-right: 10px;
}

.box {
    border: 2px solid var(--background3);
    background-color: var(--background2);
}

.striped:nth-child(even) {
    background-color: var(--background3)
}

/* ID's */

#nav-bar ul {
    display: flex;
    align-items: center;
}

#nav-bar li {
    display: inline;
    padding: 0 15px;
    text-transform: lowercase;
    font-weight: bold;
    color: var(--text);
}

#nav-bar li:not(:first-child):before {
    content: "./";
    line-height: 100%;
}

#logo {
    width: var(--logo-size);
    height: var(--logo-size);
}

#introduction {
    margin-bottom: 10px;
    height: fit-content;
    overflow: auto;
}

#introduction p {
    padding: 0 10px 10px 10px;
}

#footer-text {
    opacity: 75%;
}

#events {
    margin-right: 10px;
    max-width: 330px;
}

#events h1 {
    margin-bottom: 5px;
}

#blog-posts {
    max-width:  660px;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

#blog-posts li {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#blog-posts .date {
    opacity: 100%;
    font-size: 12px;
    margin-right: 0;
}

#blog-posts .date:after {
    content: " • "
}

/* Mobile & Screen Options */

@media (max-width: 850px) {
    .bottom {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    
    .container {
        max-width: 90%;
    }

    .bottom section.box {
        max-width: 100%;
    }

    .bottom section.box:not(:last-child) {
        margin-bottom: 10px;
    }

    .bottom section.box li:last-child {
        margin-bottom: 10px;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    header {
        padding: 10px 0;
        min-height: 130px;
        max-width: 90%;
    }

    footer {
        max-width: 90%;
    }

    #footer-text p {
        text-align: center;
        font-size: 10px;
    }

    #events {
        max-width: 100%;
        margin-right: 0;
    }
    
    #nav-bar {
        width: 100%;
    }

    #nav-bar ul {
        flex-direction: column;
        width: 100%;
    }

    #nav-bar li {
        display: block;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    #nav-bar li:first-child {
        margin-bottom: 6px;
    } 

    #nav-bar li:not(:first-child) {
        margin-bottom: 4px;
    }

    #nav-bar li:nth-child(even) {
        background-color: var(--background3);
    }
}