/* Universal */
:root {
    --text: #FFFFFF;
    --background: #0b0b0b;
    --background2: #272727;
    --background3: #424242;
    --primary: #D54E53;
    --secondary: #FDBF55;
    --accent: #FF5400;
    --logo-size: 32px;                 /* Controls how big the logo is (width & height) */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: var(--text);
}

/* Elements */

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    color: var(--primary);
}

header {
    margin: 0 auto 10px;
    width: 100%;
    max-width: 1000px;
    height: 75px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blog-title {
    padding: 10px 0 10px 10px;
    color: var(--primary);
}

h1:before {
    content: "# ";
    color: var(--primary);
}

.details {
    opacity: 75%;
    font-size: 14px;
    margin: 0 0 10px 10px;
    display: flex;
}

.details p {
    margin-left: 10px;
}

.details p:not(:last-child):after {
    content: " • ";
}

.img-div {
    display: flex;
}

#title-box {
    height: fit-content;
    margin-bottom: 10px;
}

.bottom {
    height: 100%;
    padding: 10px;
}

#article-img {
    max-width: 400px;
    margin: 0 10px 10px 0;
}

/* Mobile & Screen Options */

@media (max-width: 1000px) {
    .img-div {
        flex-direction: column;
    }

    #article-img {
        max-width: 100%;
        margin-right: 0;
    }
}