span {
    font-weight: 700;
    text-align: center;
    max-width: 90%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.error {
    font-size: 100px; 
}

.home-button {
    margin-top: 16px;
    background-color: var(--background);
    width: 200px;
    border-radius: 0;
    border: 1px solid var(--text);
    padding: 2px;
}

.home-button:hover {
    background-color: var(--text);
    color: var(--background);
}

.home-button:active {
    border: 1px solid green;
    color: green;
    background-color: var(--background);
}

.typewriter {
    color: #0000;
    background:
        linear-gradient(var(--text) 0 0) 0 50%/150% 95%,
        linear-gradient(var(--text) 0 0) 0 0 /100% 100%;
        -webkit-background-clip: padding-box, text;
        background-clip: padding-box, text;
        background-repeat: no-repeat;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        animation:
            typing 1s forwards,
            background-anim 1s .8s forwards;
}

@keyframes typing {
    from {
        background-size: 0 95%, 0 100%
    }
}

@keyframes background-anim {
    100% {
        background-position: -200% 50%, 0 0
    }
}

@media (max-width: 500px) {
    .error {
        font-size: 150px;
    }

    .home-button {
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
}