:root {
    /* Technical Colors */
    --tag-red: #da2f2f;
    --tag-border-red: #831717;
    /* Personal Colors */
    --tag-purple: #792fda;
    --tag-border-purple: #491783;
    /* Tutorial Colors */
    --tag-green: #2fda38;
    --tag-border-green: #178320;
    /* Miscellaneous Colors */
    --tag-blue: #2fcfda;
    --tag-border-blue: #176d83;
}

/* || Container & Positioning */

.container li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.container a {
    text-transform: lowercase;
}

.container a:before {
    content: "./";
}

.bottom {
    height: 100%;
}

/* || Details */

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.author {
    color: var(--primary);
    width: 150px;
}

.minor-detail {
    width: 50px;
    font-size: 10px;
    opacity: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* || Tags */

.tag-span {
    width: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag {
    text-align: center;
    width: 75px;
}

.technical {
    background-color: var(--tag-red);
    border: 1px solid var(--tag-border-red);
}

.personal {
    background-color: var(--tag-purple);
    border: 1px solid var(--tag-border-purple);
}

.tutorial {
    background-color: var(--tag-green);
    border: 1px solid var(--tag-border-green);
}

.misc {
    background-color: var(--tag-blue);
    border: 1px solid var(--tag-border-blue);
}