#blog-title {
    padding: 10px 0 10px 10px;
    color: var(--primary);
}

.details {
    opacity: 75%;
    font-size: 14px;
    margin: 0 0 10px 10px;
    display: flex;
}

.details p {
    margin-left: 10px;
}

.details p:not(:last-child):after {
    content: " • ";
}

.img-div {
    display: flex;
}

#title-box {
    height: fit-content;
    margin-bottom: 10px;
}

.bottom {
    height: 100%;
    padding: 10px;
}

#article-img {
    max-width: 400px;
    margin: 0 10px 10px 0;
}

/* Mobile & Screen Options */

@media (max-width: 1000px) {
    .img-div {
        flex-direction: column;
    }

    #article-img {
        max-width: 100%;
        margin-right: 0;
    }
}