<section id="blog-posts" class="box">
    <h1>Blog Posts</h1>
    <ul>
        <li class="big-list striped">
            No blog posts at this time.
            <!-- <h2><a href=".">Devlog #2765: Challenges</a></h2> -->
            <!-- <p class="blog-description"><span class="date">8-21-2023</span>Author McAuthorson</p> -->
            <!-- <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        </li>
        <!-- <li class="big-list striped"> -->
        <!--     <h2><a href=".">How to Effectively Manage a Club</a></h2> -->
        <!--     <p class="blog-description"><span class="date">8-21-2023</span>Man A. Jer</p> -->
        <!--     <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        <!-- </li> -->
        <!-- <li class="big-list striped"> -->
        <!--     <h2><a href=".">10 Ways to Secure Your Computer</a></h2> -->
        <!--     <p class="blog-description"><span class="date">8-21-2023</span>Notta Hackar</p> -->
        <!--     <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        <!-- </li> -->
        <!-- <li class="big-list striped"> -->
        <!--     <h2><a href=".">Why You Should Switch Back to Linux</a></h2> -->
        <!--     <p class="blog-description"><span class="date">8-21-2023</span>Linus Linuxson</p> -->
        <!--     <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        <!-- </li> -->
        <!-- <li class="big-list striped"> -->
        <!--     <h2><a href=".">How to Breach a Firewall</a></h2> -->
        <!--     <p class="blog-description"><span class="date">8-21-2023</span>Edward Snowden</p> -->
        <!--     <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        <!-- </li> -->
        <!-- <li class="big-list striped"> -->
        <!--     <h2><a href=".">Why You Should Switch to Windows</a></h2> -->
        <!--     <p class="blog-description"><span class="date">8-21-2023</span>Billy Gates</p> -->
        <!--     <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        <!-- </li> -->
        <!-- <li class="big-list striped"> -->
        <!--     <h2><a href=".">How to Install a Virtual Machine</a></h2> -->
        <!--     <p class="blog-description"><span class="date">8-21-2023</span>Rob Ot</p> -->
        <!--     <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        <!-- </li> -->
        <!-- <li class="big-list striped"> -->
        <!--     <h2><a href=".">Servers: Linux, or Windows?</a></h2> -->
        <!--     <p class="blog-description"><span class="date">8-21-2023</span>The Intern</p> -->
        <!--     <p class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra diam sit.</p> -->
        <!-- </li> -->
    </ul>
</section>
