<section id="events" class="box sidesub">
    <h1>Upcoming Events</h1>
    <ul>
        <li class="small-list striped"><span class="date"></span><a href="{{ .RelPermalink }}">No events at this time.</a></li>

        <!-- {{ range where site.RegularPages "Type" "events" }} -->
        <!--     {{ if gt (.Params.event_date | time.AsTime) now }} -->
        <!--         {{ $eventDate := .Params.event_date | time.Format ":date_medium" }} -->
        <!--         <li class="small-list striped"><span class="date">{{ $eventDate }}</span><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li> -->
        <!--     {{ end }} -->
        <!-- {{ end }} -->
    </ul>
</section>
