<div class="container">
    <section id="introduction" class="box">
        <h1>Introduction</h1>
        <p>Welcome to the Saddleback Cyber Operations Club!</p>
        <p>The purpose of the Cyber Operations Club is to provide a platform for students to develop practical skills in cybersecurity through hands-on activities, workshops, and competitions. We also aim to create a supportive community where members can network, collaborate, and share knowledge and resources related to cybersecurity.</p>
        <p>To become a member you must attend an official club meeting. We have both online and in-person meetings, either will suffice. Once you are granted membership, you will be given access to our membership channels and special perks.</p>
    </section>
</div>
